<%- include ("partials/header") -%>


</nav>
<div class="second">
<h1> <%= title %></h1>
<img src= "<%= image %>" class="center" alt="Girl in a jacket" >
<div class="container">
    <p> <%= explanation %></p>
</div>

</div>

<%- include ("partials/footer") -%>
